@model TrabajoFinalMulti.ViewModel.CursoDocenteVM
@{
    ViewData["Title"] = "Editar Curso";
    Layout = "~/Views/Shared/_Diseño.cshtml";
}

<main class="h-full pb-16 overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Editar
        </h2>
        <!-- CTA -
        <!-- General elements -->
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
            Curso
        </h4>

        <form method="post" asp-action="EditarCurso" id="registro-form" enctype="multipart/form-data">
            <input type="hidden" asp-for="Curso.Curso_Id" />

            <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label asp-for="Curso.Curso_Nombre" class="block  text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Nombre del apoderado</span>
                    <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                        <input asp-for="Curso.Curso_Nombre" class="block w-full pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                               placeholder="Nombre"
                               type="text"
                               id="Curso.Curso_Nombre" required />
                        <div class="absolute inset-y-0 flex items-center ml-3 pointer-events-none">
                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                            </svg>
                        </div>

                        <span asp-validation-for="Curso.Curso_Nombre" class="text-danger"></span>

                    </div>
                </label>
                <label asp-for="Curso.Cantidad_Horas" class="block  text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Cantidad de horas</span>
                    <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                        <input asp-for="Curso.Cantidad_Horas" class="block w-full pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                               placeholder="Cantidad de horas"
                               type="number"
                               name="Curso.Cantidad_Horas" required />
                        <div class="absolute inset-y-0 flex items-center ml-3 pointer-events-none">
                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </div>
                        <span asp-validation-for="Curso.Cantidad_Horas" style="color: red;"></span>
                    </div>
                </label>
                <label asp-for="Curso.Docente" class="block  text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Docente encargado</span>
                    <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                        <div class="block w-full pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input">
                            <select class="bg-gray-800 outline-none text-black text-sm block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-gray-300 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                @Html.DropDownListFor(u => u.Curso.Docente_Id, Model.ListaDocentes, "--Lista de docentes--",
                                new {@class = "form-control"})
                            </select>
                        </div>
                        <div class="absolute inset-y-0 flex items-center ml-3 pointer-events-none">
                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                            </svg>
                        </div>

                        <span asp-validation-for="Curso.Docente" class="text-danger"></span>

                    </div>
                </label>
                <label asp-for="Curso.Aula_Id" class="block  text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Aula de clases</span>
                    <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                        <div class="block w-full pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input">
                            <select class="bg-gray-800 outline-none text-black text-sm block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-gray-300 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                            @Html.DropDownListFor(u => u.Curso.Aula_Id, Model.ListaAulas, "--Lista de aulas--",
                                    new {@class = "form-control", required = "required"})
                            </select>
                        </div>
                        <div class="absolute inset-y-0 flex items-center ml-3 pointer-events-none">
                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                            </svg>
                        </div>
                        <span asp-validation-for="Curso.Aula_Id" class="text-danger"></span>
                    </div>
                </label>

                <div class="mt-4 flex flex-col flex-wrap mb-4 space-y-4 md:flex-row md:items-end md:space-x-4">
                    <div>
                        <button type="submit" class=" px-4 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                            Guardar cambios
                        </button>
                        <a asp-controller="Administrador" asp-action="ListaCursos" class="px-4 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Regresar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>