@model TrabajoFinalMulti.Models.AnuncioInformativo
@{
    ViewData["Title"] = "Registrar Anuncio";
    Layout = "~/Views/Shared/_Diseño.cshtml";
}



<main class="h-full pb-16 overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Registrar
        </h2>
        <!-- CTA -
        <!-- General elements -->
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
            Anuncio
        </h4>

        <form method="post" asp-action="RegistrarAnuncioInformativo" id="registro-form">

            <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <label asp-for="Anuncio_URL" class="block  text-sm">
                    <span class="text-gray-700 dark:text-gray-400">URL de anuncio</span>
                    <!-- focus-within sets the color for the icon when input is focused -->
                    <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                        <input asp-for="Anuncio_URL" class="block w-full pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                               placeholder="Pegar aqui"
                               type="text"
                               id="Nombre"
                               name="Nombre" required />
                        <div class="absolute inset-y-0 flex items-center ml-3 pointer-events-none">
                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                            </svg>
                        </div>

                        <span asp-validation-for="Anuncio_URL" class="text-danger"></span>

                    </div>
                </label>              

                <div class="mt-4 flex justify-between flex-row flex-wrap mb-4 space-y-4 md:flex-row md:items-end md:space-x-4">
                    <div>
                        <button type="submit" class=" px-4 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                            Crear
                        </button>
                        <a asp-controller="Administrador" asp-action="ListaAnuncioInformativo" class="px-4 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Regresar</a>
                    </div>

                </div>
            </div>
        </form>
    </div>
</main>