@model TrabajoFinalMulti.ViewModel.RegistroEvaluacion

@{
    ViewData["Title"] = "Nueva Evaluacion";
    Layout = "~/Views/Shared/_Diseño.cshtml";
}

<main class="h-full pb-16 overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Crear Nueva Evaluacion
        </h2>
        <!-- CTA -
        <!-- General elements -->
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
            Nombre Curso
        </h4>

        <form method="post" asp-action="NuevaEvaluacion" id="registro-form">
            <input type="hidden" name="Curso_Id" value="@Model.Curso_Id">
            <p>@Model.Curso_Id</p>
            <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <label asp-for="Nombre" class="block text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Nombre de la Evaluacion</span>
                    <!-- focus-within sets the color for the icon when input is focused -->
                    <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                        <input asp-for="Nombre" class="block w-full pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                               placeholder="Nombre"
                               type="text"
                               id="Nombre"
                               name="Nombre" required />
                        <div class="absolute inset-y-0 flex items-center ml-3 pointer-events-none">
                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                            </svg>
                        </div>
                        <span asp-validation-for="Nombre" class="text-danger"></span>

                    </div>
                </label>


                <label asp-for="Fecha" class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Fecha de la evaluacion</span>
                    <!-- focus-within sets the color for the icon when input is focused -->
                    <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                        <input asp-for="Fecha" class="block w-full pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                               placeholder="Fecha de la Evaluacion"
                               type="text"
                               id="Fecha"
                               name="Fecha" required />
                        <div class="absolute inset-y-0 flex items-center ml-3 pointer-events-none">
                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                            </svg>
                        </div>

                        <span asp-validation-for="Fecha" class="text-red-600"></span>

                    </div>
                </label>

                <div class="mt-4 flex flex-col flex-wrap mb-4 space-y-4 md:flex-row md:items-end md:space-x-4">
                    <div>
                        <button type="submit" class=" px-4 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                            Crear Evaluacion
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</main>

