@model TrabajoFinalMulti.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>

<head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
    rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/VistaIniciarSesión/vista_iniciar_estilo.css")" />
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVRGJNSB3s4UgRP2q9xWxuCIkKFlDD20dqkO8VG6Y&s" alt="">
        </div>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4">
            <h1 class="text-center">Iniciar Sesión</h1>
            <br />
            <form method="post" asp-action="Login" class="w-100">
                <div class="mb-3">
                    <label asp-for="Correo" class="form-label">Correo Electrónico</label>
                    <input asp-for="Correo" type="email" class="form-control" id="Correo" name="Correo" required />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Contraseña" class="form-label">Contraseña</label>
                    <div class="input-group">
                        <input asp-for="Contraseña" type="password" class="form-control" id="password" required />
                        <button type="button" class="btn btn-outline-secondary" id="ver-password">Ver contraseña</button>
                        <span asp-validation-for="Contraseña" class="text-danger"></span>
                    </div>
                    <div id="password-feedback"></div>
                </div>
                <br />
                <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
            </form>
            <br />
            <div class="alert alert-danger" id="error-message" style="display: none;">
                @{var error = TempData["Error"] as string;}
                @error
            </div>
        </div>
    </div>

    @if (ViewBag.ShowError != null && ViewBag.ShowError)
    {
        <script>
            document.getElementById('error-message').style.display = 'block';
        </script>
    }

    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <!-- Script para mostrar/ocultar contraseña -->
    <script>
        document.getElementById('ver-password').addEventListener('click', function () {
            var contrasenaInput = document.getElementById('password');
            if (contrasenaInput.type === 'password') {
                contrasenaInput.type = 'text';
            } else {
                contrasenaInput.type = 'password';
            }
        });
    </script>
</body>
</html>
